.delete {
  background-color: #eee;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .5);
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .3s;
}

.delete:hover {
  background-color: #fff;
  color: #333;
  border-color: #333;
  box-shadow: 0 0 0 3px #eee;
}