.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nav ul {
  display: flex;
  gap: 1rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #eee;
  border-radius: 4px;
  padding: .5rem;
  cursor: pointer;
  transition: .3s;
  border: 1px solid transparent;
  outline: none;
  border: 1px solid transparent;
}

.navItem:hover {
  background-color: #fff;
  border-color: #fb1;
  box-shadow: 0 0 0 3px #eee;
}

.navItem:global(.active) {
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
  background-color: #fff;
}

.mobileToggler {
  width: 42px;
  height: 42px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.mobileToggler::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: all .2s;
}

.active.mobileToggler::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px, 0 -8px;
}

svg.icons {
  font-size: 1.5rem;
  fill: #333;
}

@media only screen and (min-width: 45rem) {
  .navItemDescription {
    display: none;
  }

  .mobileToggler {
    display: none;
  }
}

@media only screen and (max-width: 45rem) {
  .mobileToggler {
    display: flex;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    gap: initial;
    width: max-content;
    border-radius: 4px;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    transform: scale(0);
    transition: transform .3s;
    transform-origin: right top;
  }

  .nav ul.active {
    transform: scale(1);
  }

  .nav ul li {
    padding: 5px 0;
  }

  .nav ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  .nav ul li:hover {
    background-color: #fb1;
  }

  .navItem:not(.mobileToggler) {
    border-radius: initial;
    background-color: initial;
  }

  .navItem:hover:not(.mobileToggler) {
    background-color: initial;
    border-color: transparent;
    box-shadow: none;
  }

  .navItem:global(.active) {
    border: none;
    box-shadow: none;
    background-color: initial;
  }

  .navItemDescription {
    display: block;
  }
}