.title {
  font-family: var(--type-second);
  font-size: 3rem;
  position: relative;
  caret-color: transparent;
}

.title::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fb1;
  border-radius: .25rem;
  position: absolute;
  bottom: 15px;
  left: -5px;
  z-index: -1;
}