.photo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fff;
  width: 900px;
  max-height: 596px;
  border-radius: 4px;
  overflow: hidden;
}

.image {
  height: 100%;
}

.image img {
  object-fit: cover;
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto auto 1fr;
  align-content: start;
  gap: 1rem;
  padding: 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author,
.access {
  color: rgba(0, 0, 0, .4);
}

.access::before {
  content: url(../../assets/visualizacao-black.svg);
  margin-right: 5px;
}

.details,
.comments {
  grid-column: 1/-1;
}

.details {
  display: grid;
  justify-content: start;
}

.details>span {
  grid-row: 2;
  color: #333;
  font-weight: bold;
}

.details>span::before {
  content: "";
  border-right: 2px solid black;
  margin-right: 5px;
}

@media only screen and (max-width: 45rem) {
  .photo {
    grid-template-columns: 1fr;
    max-width: 80%;
    max-height: 80%;
    border-radius: 4px;
    overflow-y: auto;
  }
}