.post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.imagePreview {
  border-radius: 4px;
  overflow: hidden;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  grid-row: span 20;
}

.post input[type="file"] {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 40rem) {
  .post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .imagePreview {
    min-height: 500px;
  }
}